@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-6">
        <img id="irishrepflag" class="img-responsive, img-rounded" src="~/Content/Images/irish-republic-flag-std.jpg"/>
        <p id="aboutP">In 1919 the tensions in Ireland in the aftermath of the 1916 Easter Rising, violence broke out across the nation. On the 21st of January, 1919, Dan Breen launched an ambush in Soloheadbeg, Co. Tipperary. This violence would continue well into the 1920's and become known as the Irish War of Independnce and the Civil War.</p>
    </div>
    <div class="col-md-6">
        <img id="firstdail" class="img-responsive" src="~/Content/Images/1dail.jpg" />
    </div>
</div>
