@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Irish War of Independence</h1>
    <p class="lead">This ASP.NET application is designed to educate and recount the stories of the Irish War of Independence right down to a local level.</p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Search for your History Right Now!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Counties</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>People</h2>
        <p>Find out more about the key figures and local heroes who changed Irish history</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Add Your Own Stories</h2>
        <p>Do you have a relative or know of a local incident relating to the war of independence/civil war? Please add them below!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Add to History!</a></p>
    </div>
</div>